<!-- templates/admin.html -->

{% extends 'layout.html' %}

{% block content %}
    <h2>Admin Panel</h2>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Date</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.name }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.mobile }}</td>
                <td>{{ message.date }}</td>
                <td>{{ message.message }}</td>
                <td>
                    <a href="{{ url_for('delete_message_route', message_id=message.id) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
